@model Laminar.ViewModels.Views.ViewProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}

    <div class="col-md-12">
        <div class="align-items-center">
            <h1 class="inline-header">My Profile</h1>
            <a asp-controller="Profile" asp-action="Edit" class="btn btn-sm btn-dark float-right">Edit Profile</a>
        </div>
        <div class="card">
            <div class="card-img-top d-flex align-items-center bg-light">
                <div>
                    <img src="@Url.Action("GetProfilePicture", "Profile", new { id = Model.ID })" class="img-thumbnail rounded" alt="@Model.FirstName Profile Picture" />
                </div>
                <h3 class="col">@Model.FirstName @Model.LastName</h3>

            </div>
        </div>
        <div class="align-items-center">
            <a asp-controller="Project" asp-action="Index"><h1 class="inline-header">My Projects</h1></a>
            <a asp-controller="Project" asp-action="Create" class="btn btn-sm btn-dark float-right">Create New Project</a>
        </div>
        @foreach (Project project in Model.Projects)
        {
            <div class="card">
                <div class="card-img-top d-flex align-items-center bg-light">
                    <a asp-controller="Project" asp-action="Board" asp-route-id="@project.ID"><h3>@project.Title</h3></a>
                    <a asp-controller="Project" asp-action="Edit" asp-route-id="@project.ID" class="btn btn-sm btn-dark float-right">Edit</a>
                </div>
            </div>
        }
    </div>


